{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{form}}
        <input class="btn btn-primary" type="submit" value="Search">
    </form>
    {% for listing in listings %}
        <a href = "{% url 'listing' listing=listing.pk %}">
            <div class="row" >
                <div class="col-3"><img src="{{listing.image}}"></div>
                <div class="col-9">
                    <div>{{listing.title}}</div>
                    <div>{{listing.description}}</div>
                    <div>{{listing.current_price}}</div>
                </div>
            </li>
            </div>
        </a>
    {% endfor %}
{% endblock %}