{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{listing.title}}</h2>
    {%if listing.active == False%}
        <h3 class="text-muted">Auction is closed (You can still leave a comment)</h3>
    {% endif %}
    {% if user.is_authenticated %}
        {% if not user == listing.owner %}
        <form action="{% url 'addWatchlist' listing=listing.pk %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value={{listing}} name="listing">
            {% if flag %}
            <input class="btn btn-primary" type="submit" value="Delete from watchlist">
            {% else %}
            <input class="btn btn-primary" type="submit" value="Add to watchlist">
            {% endif %}
        </form>
        {% endif %}
    {% if user == listing.owner and listing.active == True%}
        <div>
            <form action="{% url 'closeAuction' listing=listing.pk%}" method="POST">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Close"> 
            </form>
        </div>
    {% endif %}
    {% endif %}
    <div>
        <img src="{{listing.image}}">
    </div>
    <div>
        <strong>Price: ${{listing.current_price}}</strong>
    </div>
    <div>
        {{listing.description}}
    </div>
    {%if user.is_authenticated%}
        {% if listing.active %}
                <form method="post" action="{% url 'listing' listing=listing.id %}">
                    {% csrf_token %}
                    {{form}}
                    <input class="btn btn-primary" type="submit" value="Bid">
                </form>
        {% endif %}
            <form method="post" action="{% url 'addComment'%}">
                {% csrf_token %}
                {{form2}}
                <input type="hidden" value={{listing.id}} name="listing">
                <input class="btn btn-primary" type="submit" value="Add Coment">
            </form>
    {% endif %}
    <h3>Comments:</h3>
    {% for comment in comments %}
        <div>{{comment}}</div>
    {% endfor %}
{% endblock %}